$header-color: linear-gradient(to right, #6f96c9, #086FF3);
$headerPadding: 1rem;
$logoWidth: 150px;
$textColorWhite: white;
$carouselImgHeight: 600px;

#homeLogo {
    width: $logoWidth;
    margin-left: 10px;
}

#homeHeader {
    
    background: $header-color;
    margin-bottom: 0px;
    padding:$headerPadding;

    h1 {
        margin-top: 3rem;
    }

    form {
        margin-top: 1rem;
    }
}

.carousel {
    img {
        height: $carouselImgHeight;
    }
  }

  .site-footer {
    background: $header-color;
    color: $textColorWhite;

    a {
        color: $textColorWhite;
    }
   
  }

  .map {
    height: 300px;
    width: 100%;
  }

  .jumbotron {
      margin-bottom: 0%;
      padding-left: 30px;
  }

  #acctImg1 {
      width: 350px;
      height: 300px;
      margin-top: 20px;
  }

  #acctImg2 {
      width: 350px;
      height: 300px;
      margin-bottom: 20px;
  }